@model PTEKNIK.Models.FORMLines

@{
    ViewBag.Title = "TeknikTalepEdit";
    Layout = "~/Views/Shared/_MasterAdminLayout.cshtml";
}

<script>

    window.onload=(function () {

        $('.phone').mask('(000) 000 00 00');
    });
</script>
<h2>Düzenle</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



    <div class="row">
        <div class="col-lg-3">
            <div class="form-group input-group">
                <span class="input-group-addon"><div style="width:90px; text-align:left;">Belge No</div></span>
                @Html.EditorFor(model => model.BELGENO, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group input-group">
                <span class="input-group-addon"><div style=" text-align:left;">/</div></span>

                @Html.EditorFor(model => model.BELGESTR, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon">Müşterinin Adı</span>
                @Html.EditorFor(model => model.ADSOYAD, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADSOYAD, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><div style="width:90px; text-align:left;">Adres</div></span>
                @Html.EditorFor(model => model.ADRES, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ADRES, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><div style="width:90px; text-align:left;">GSM</div></span>
                <input class="form-control phone text-box single-line" data-val="true" data-val-required="TEL alanı boş geçilemez!" id="TEL" name="TEL" type="text" value="" maxlength="15">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group input-group">
                <span class="input-group-addon"><div style="width:90px; text-align:left;">Açıklama</div></span>
                @Html.EditorFor(model => model.ACIKLAMA, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ACIKLAMA, "", new { @class = "text-danger" })

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Kaydet ve Geri Dön" class="btn btn-success" />
        </div>
    </div>
</div>
}

