@model IEnumerable<PTEKNIK.Models.FORMLines>

@{
    ViewBag.Title = "HakedisList";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Hakedişlerim</h2>

<div class="row">
    <div class="pull-right col-lg-4">
        @*<a href="?DURUM=1" class="btn btn-info">Onay Bekleyenler</a>
        <a href="?DURUM=2" class="btn btn-success">Onaylananlar</a>
        <a href="?DURUM=-2" class="btn btn-danger">Reddedilenler</a>*@
    </div>
</div>


<table class="table table-striped" style="margin-top:10px;">
    <tr>
        <th>
Durum
        </th>
        <th>
            Form Tipi
        </th>
        <th>
            Fiş No
        </th>
        <th>
            Ad Soyad
        </th>


        <th>
            Firma Adı
        </th>
       


    </tr>

    @foreach (var item in Model)
    {
        <tr class="@item.TRSTYLE">
            <td>
                @item.ONAYDURUM
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FORMTYPE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FICHENO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ADSOYAD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
           


        </tr>
    }

</table>
